.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.list input {
  background-color: inherit;
  font: inherit;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  border-color: var(--color-primary-800);
  color: var(--color-primary-400);
  width: 6rem;
  height: 1.6rem;
}

.list input:focus,
.list input:hover {
  color: var(--color-gray-800);
  background-color: var(--color-primary-400);
  border-color: var(--color-primary-400);
}